# This workflow does static verification of the legacy modules
name: Check formatting

on:
  workflow_dispatch:
  pull_request:
    branches: [ master ]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          branch: cok-code

      - name: Install Dafny
        uses: dafny-lang/setup-dafny-action@v1
        with:
          dafny-version: "nightly-2023-02-15-567a5ba"

      - name: Install lit
        run: pip install lit OutputCheck

      - name: Set up JS dependencies
        run: npm install bignumber.js

      - name: Check exe
        run: |
          pwd
          ls
          dafny --version
          which dafny

      - name: Check formatting
        run: |
          chmod +x ./.github/workflows/check-format
          ./.github/workflows/check-format src
