name: Dafny Core verification

on:
  # Scheduled to be run sometime after the nightly build of dafny
  workflow_dispatch:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verification:
    strategy:
      matrix:
        # nightly-latest to catch anything that breaks these tests in current development
        # 2/18/2023 version is the first that supports logging
        # 3.11.0 supports new CLI but does not support logging
        # setup-dafny-action does not yet support 3.13.1 or recent nightly-latest
        ## version: [ nightly-2023-02-18-ef4f346, 3.11.0, 3.12.0, 3.13.1 ]
        version: [ nightly-2023-02-18-ef4f346, 3.11.0, 3.12.0 ]

    uses: ./.github/workflows/reusable-tests.yml
    with:
      dafny-version: ${{ matrix.version }}
